@page
@model WebUI.Pages.ShopList.IndexModel

@{
    ViewData["Title"] = "Alışveriş Listeleri";
}

<h1>Alışveriş Listeleri</h1>

<p>
    <a asp-page="Create">Yeni Liste</a>
</p>
<table class="table table-dark">
    <thead>
        <tr>
            <th>
                @(HomeInv.Language.Resources.Generic_Name)
            </th>
            <th>
                @(HomeInv.Language.Resources.Generic_Description)
            </th>
            <th>
                Liste Icerigi
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ShoppingList)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    <a asp-page="./EditList" asp-route-id="@item.Id">Icerik Yonetimi</a>
                </td>
                <td class="text-end">
                    <a asp-page="./Edit" asp-route-id="@item.Id">Düzenle</a> |
                    <a asp-page="./Details" asp-route-id="@item.Id">Detay</a> |
                    <a asp-page="./Delete" asp-route-id="@item.Id">Sil</a>
                </td>
            </tr>
        }
    </tbody>
</table>
