@using HomeInv.Common.Interfaces.Services;
@using HomeInv.Common.ServiceContracts.ItemDefinition;
@using HomeInv.Common.ServiceContracts.ItemStock;
@using HomeInv.Persistence;
@using HomeInv.Persistence.Dbo;
@using Microsoft.AspNetCore.Identity;
@using System.Timers;

@inject IItemDefinitionService _itemDefinitionService
@inject IItemStockService _itemStockService

@inject HomeInventoryDbContext dbContext
@inject AuthenticationStateProvider authenticationStateProvider
@inject SignInManager<User> signInManager
@inject UserManager<User> userManager

@inherits AuthorizedComponentBase

<h3>Stok Durumu <img src="@GetPathOfAsset("nazarbonc.png")" height="32" /> <i>Maşallah Diyelim</i> <img src="@GetPathOfAsset("nazarbonc.png")" height="32" /></h3>

<div class="form-group pull-right">
    <input type="text"
           class="form-control"
           placeholder="Ne arıyoruz?"
           @bind="SearchKeyword"
           @bind:event="oninput"
           @onkeyup="@ResetTimer" />
</div>
<span class="pull-right">@OverviewList.Count ürün bulundu</span>

@if (OverviewList != null && OverviewList.Count > 0)
{
    <table class="table table-hover table-responsive table-dark">
        <thead>
            <tr>
                <td>Görsel</td>
                <td>Ürün Adı</td>
                <td>Kategori</td>
                <td>Oda</td>
                <td>Stok Durumu</td>
                <td>Son Kullanma Tarihi</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var mainListItem in OverviewList)
            {
                string cssclass = mainListItem.CurrentStockAmount == 0 ? "danger" : "";
                <tr class="@cssclass">
                    @if (!string.IsNullOrEmpty(mainListItem.ImageName))
                    {
                        <td><img src="@GetPathOfImageInHome(mainListItem.ImageName, UserSettings.DefaultHomeId)" height="60" /></td>
                    }
                    else
                    {
                        <td><img src="@GetPathOfAsset("s-logo-blue-white.png")" height="30" /></td>
                    }
                    <td>@mainListItem.ItemName</td>
                    <td>@(mainListItem.CategoryName + (string.IsNullOrEmpty(mainListItem.CategoryParentNames) ? "" : " (" + mainListItem.CategoryParentNames + ")"))</td>
                    <td>@mainListItem.AreaName</td>
                    <td>
                        @if (mainListItem.StockId > 0)
                        {
                            <a class="btn btn-dark" asp-page="UpdateRemainingStock" asp-route-ItemStockId="@mainListItem.StockId"><span class="oi oi-pencil" aria-hidden="true"></span></a>
                        }
                        else
                        {
                            <a class="btn btn-dark" asp-page="CreateStep2" asp-route-ItemDefinitionId="@mainListItem.ItemDefinitionId"><span class="oi oi-plus" aria-hidden="true"></span></a>
                        }
                            &nbsp;
                        @(mainListItem.CurrentStockAmount + " " + mainListItem.SizeUnitName)
                    </td>
                    <td>@(mainListItem.ExpirationDate == DateTime.MinValue ? "-" : mainListItem.ExpirationDate)</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    List<ItemStockOverview> OverviewList = new List<ItemStockOverview>();

    public string SearchKeyword { get; set; } = string.Empty;
    private System.Timers.Timer aTimer = default!;

    protected override async Task OnInitializedAsync()
    {
        GetList();

        aTimer = new System.Timers.Timer(1000);
        aTimer.Elapsed += OnUserFinish;
        aTimer.AutoReset = false;
    }

    void ResetTimer(KeyboardEventArgs e)
    {
        aTimer.Stop();
        aTimer.Start();
    }

    private async void OnUserFinish(Object? source, ElapsedEventArgs e)
    {
        GetList();
        await InvokeAsync(StateHasChanged);
    }

    void GetList()
    {
        GetUserSettings(authenticationStateProvider, signInManager, userManager, dbContext);
        var definitions = _itemDefinitionService.GetFilteredItemDefinitionsInHome(new GetFilteredItemDefinitionsInHomeRequest()
            {
                HomeId = UserSettings.DefaultHomeId,
                AreaId = 0,
                CategoryId = 0,
                RequestUserId = UserSettings.UserId
            });

        if (!string.IsNullOrEmpty(SearchKeyword) && SearchKeyword.Length > 1)
        {
            definitions.Items = definitions.Items.Where(d => 
                (!string.IsNullOrEmpty(d.Name) && d.Name.Contains(SearchKeyword, StringComparison.InvariantCultureIgnoreCase))
                || (!string.IsNullOrEmpty(d.Description) && d.Description.Contains(SearchKeyword, StringComparison.InvariantCultureIgnoreCase))
                || (!string.IsNullOrEmpty(d.CategoryName) && d.CategoryName.Contains(SearchKeyword, StringComparison.InvariantCultureIgnoreCase))
                || (!string.IsNullOrEmpty(d.CategoryFullName) && d.CategoryFullName.Contains(SearchKeyword, StringComparison.InvariantCultureIgnoreCase))
                || (!string.IsNullOrEmpty(d.SizeUnitName) && d.SizeUnitName.Contains(SearchKeyword, StringComparison.InvariantCultureIgnoreCase))
            ).ToList();
        }

        var stocks = _itemStockService.GetItemStocksByItemDefinitionIds(new GetItemStocksByItemDefinitionIdsRequest()
            {
                HomeId = UserSettings.DefaultHomeId,
                ItemDefinitionIdList = definitions.Items.Select(def => def.Id).ToList(),
                RequestUserId = UserSettings.UserId
            }).ItemStocks;

        OverviewList = new List<ItemStockOverview>();

        foreach (var definition in definitions.Items)
        {
            var overview = new ItemStockOverview
                {
                    ItemDefinitionId = definition.Id,
                    ItemName = definition.Name,
                    ItemDescription = definition.Description,
                    CategoryId = definition.CategoryId,
                    CategoryName = definition.CategoryName,
                    CategoryParentNames = definition.CategoryFullName,
                    ImageName = definition.ImageName,

                };
            var currentItemStocks = stocks.Where(s => s.ItemDefinitionId == definition.Id).ToList();
            if (currentItemStocks.Any())
            {
                foreach (var stock in currentItemStocks)
                {
                    var stockOverview = overview.Clone();
                    stockOverview.StockId = stock.Id;
                    stockOverview.AreaId = stock.AreaId;
                    stockOverview.AreaName = stock.AreaName;
                    stockOverview.CurrentStockAmount = stock.Quantity;
                    stockOverview.ExpirationDate = definition.IsExpirable ? stock.ExpirationDate : DateTime.MinValue;
                    stockOverview.SizeUnitId = definition.SizeUnitId;
                    stockOverview.SizeUnitName = definition.SizeUnitName;
                    OverviewList.Add(stockOverview);
                }
            }
            else
            {
                overview.AreaName = "-";
                OverviewList.Add(overview);
            }
        }
    }

    public class ItemStockOverview
    {
        public int StockId { get; set; }
        public int ItemDefinitionId { get; set; }
        public string ImageName { get; set; }

        public int AreaId { get; set; }
        public string AreaName { get; set; }

        public int SizeUnitId { get; set; }
        public string SizeUnitName { get; set; }

        public string ItemName { get; set; }
        public string ItemDescription { get; set; }

        public int CategoryId { get; set; }
        public string CategoryName { get; set; }
        public string CategoryParentNames { get; set; }

        public DateTime ExpirationDate { get; set; }
        public decimal CurrentStockAmount { get; set; }

        public ItemStockOverview Clone()
        {
            return new ItemStockOverview()
                {
                    StockId = StockId,
                    ItemDefinitionId = ItemDefinitionId,
                    ImageName = ImageName,
                    AreaId = AreaId,
                    AreaName = AreaName,
                    SizeUnitId = SizeUnitId,
                    SizeUnitName = SizeUnitName,
                    ItemName = ItemName,
                    ItemDescription = ItemDescription,
                    CategoryId = CategoryId,
                    CategoryName = CategoryName,
                    CategoryParentNames = CategoryParentNames,
                    ExpirationDate = ExpirationDate,
                    CurrentStockAmount = CurrentStockAmount,
                };
        }
    }
}
