<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebUI</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body class="bg-dark text-white">
    <header class="py-3 mb-3 border-bottom">
        <div class="container-fluid d-grid gap-3 align-items-center" style="grid-template-columns: 1fr 5fr;">
            <partial name="_TopNavPartial" />
        </div>
    </header>
    
    <div class="container-fluid">
        @if (TempData["Error"] != null)
        {
            <div class="card text-white bg-danger mb-3">
                <div class="card-header">HATA!</div>
                <div class="card-body">
                    <p class="card-text">@TempData["Error"]</p>
                </div>
            </div>
        }
        @if (TempData["Success"] != null)
        {
            <div class="card text-white bg-success mb-3">
                <div class="card-header">Oley!</div>
                <div class="card-body">
                    <p class="card-text">@TempData["Success"]</p>
                </div>
            </div>
        }
        @if (TempData["Info"] != null)
        {
            <div class="card text-white bg-info mb-3">
                <div class="card-header">Bilgi</div>
                <div class="card-body">
                    <p class="card-text">@TempData["Info"]</p>
                </div>
            </div>
        }
        @if (TempData["Warning"] != null)
        {
            <div class="card text-white bg-warning mb-3">
                <div class="card-header">Uyarı</div>
                <div class="card-body">
                    <p class="card-text">@TempData["Warning"]</p>
                </div>
            </div>
        }
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - WebUI - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/popper/popper.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
