@page
@model WebUI.Pages.Stock.OverviewModel
@{
    ViewData["Title"] = "Stok Durumu";
}

<h1>Stok Durumu <img src="~/assets/nazarbonc.png" height="32" /> <i>Maşallah Diyelim</i> <img src="~/assets/nazarbonc.png" height="32" /></h1>
<a class="btn btn-primary" asp-page="CreateStep1">Yeni Stok Girişi</a>

<table class="table table-responsive table-hover table-dark">
    <thead>
        <tr>
            <th>Ürün Görseli</th>
            <th>Ürün Adı</th>
            <th>Kategori</th>
            <th>Odası</th>
            <th>Stok Durumu</th>
            <th>Son Kullanma Tarihi</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var itemDefinition in Model.OverviewList)
        {
            <tr>
                <td><img src="~/uploads/@(Model.HomeId)/@(itemDefinition.ImageName)" height="60" /></td>
                <td>@(itemDefinition.ItemName)</td>
                <td>@(itemDefinition.CategoryName + (string.IsNullOrEmpty(itemDefinition.CategoryParentNames) ? "" : " (" + itemDefinition.CategoryParentNames + ")"))</td>
                <td>@(itemDefinition.AreaName)</td>
                <td>@(itemDefinition.CurrentStockAmount + " " + itemDefinition.SizeUnitName)</td>
                <td>@(itemDefinition.ExpirationDate)</td>
            </tr>
        }
    </tbody>
</table>
