@page
@model WebUI.Pages.Category.ListModel
@{
    ViewData["Title"] = "Kategoriler";
}

<h1>Kategoriler</h1>
<h4><a asp-page="Create">Yeni Kategori</a></h4>

<table class="table table-responsive table-hover">
    <thead>
        <tr><th>&nbsp;</th><th>Kategori</th><th>Açıklama</th></tr>
    </thead>
    <tbody>
        @foreach (var category in Model.Categories)
        {
            @if(category.HasChild){
                <tr class="clickable" data-toggle="collapse" data-target=".row@(category.Id)">
                    <td>
                        <span></span>
                    </td>
                    <td>@(category.Name)</td>
                    <td>@(category.Description)</td>
                </tr>
                foreach (var child in category.Children)
                {
                    @if (child.HasChild)
                    {
                        <tr class="clickable row@(category.Id)" data-toggle="collapse" data-target=".row@(child.Id)">
                            <td><span>-></span></td>
                            <td>@(child.Name)</td>
                            <td>@(child.Description)</td>
                        </tr>
                        foreach (var grandchild in child.Children)
                        {
                            <tr class="row@(child.Id)">
                                <td><span>--></span></td>
                                <td>@(grandchild.Name)</td>
                                <td>@(grandchild.Description)</td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr class="clickable row@(category.Id)">
                            <td>-></td>
                            <td>@(child.Name)</td>
                            <td>@(child.Description)</td>
                        </tr>
                    }
                }
            }
            else{
                <tr>
                    <td></td>
                    <td>@(category.Name)</td>
                    <td>@(category.Description)</td>
                </tr>
            }
            
        }
    </tbody>
</table>
